/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2');
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2');
}
/* inter-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/inter-v12-cyrillic_latin-600.woff2') format('woff2');
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v12-cyrillic_latin-700.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  margin: 0 0 202px; /* bottom = footer height */
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 202px;
  width: 100%;
}
